In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression, Lasso, Ridge
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score

In [2]:
#extracting the dataset directly from the web
#i'm not using the stored data to avoid error from practice 

Url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/00374/energydata_complete.csv'

In [3]:
#reading my data in csv format
#reading the first five rows of the data using the head function

df=pd.read_csv(Url)
df.head()

,date,Appliances,lights,T1,RH_1,T2,RH_2,T3,RH_3,T4,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,2016-01-11 17:00:00,60,30,19.89,47.596667,19.2,44.790000,19.79,44.730000,19.000000,...,17.033333,45.53,6.600000,733.5,92.0,7.000000,63.000000,5.3,13.275433,13.275433
1,2016-01-11 17:10:00,60,30,19.89,46.693333,19.2,44.722500,19.79,44.790000,19.000000,...,17.066667,45.56,6.483333,733.6,92.0,6.666667,59.166667,5.2,18.606195,18.606195
2,2016-01-11 17:20:00,50,30,19.89,46.300000,19.2,44.626667,19.79,44.933333,18.926667,...,17.000000,45.50,6.366667,733.7,92.0,6.333333,55.333333,5.1,28.642668,28.642668
3,2016-01-11 17:30:00,50,40,19.89,46.066667,19.2,44.590000,19.79,45.000000,18.890000,...,17.000000,45.40,6.250000,733.8,92.0,6.000000,51.500000,5.0,45.410389,45.410389
4,2016-01-11 17:40:00,60,40,19.89,46.333333,19.2,44.530000,19.79,45.000000,18.890000,...,17.000000,45.40,6.133333,733.9,92.0,5.666667,47.666667,4.9,10.084097,10.084097

In [4]:
#for the purpose of this quiz, some columns wouldnt be required
#dropping does columns i.e. light and date

df = df.drop(['date', 'lights'], axis=1)

In [5]:
#confirming the dropped columns
#reading the first five rows of the data using the head function
df.head()

,Appliances,T1,RH_1,T2,RH_2,T3,RH_3,T4,RH_4,T5,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,60,19.89,47.596667,19.2,44.790000,19.79,44.730000,19.000000,45.566667,17.166667,...,17.033333,45.53,6.600000,733.5,92.0,7.000000,63.000000,5.3,13.275433,13.275433
1,60,19.89,46.693333,19.2,44.722500,19.79,44.790000,19.000000,45.992500,17.166667,...,17.066667,45.56,6.483333,733.6,92.0,6.666667,59.166667,5.2,18.606195,18.606195
2,50,19.89,46.300000,19.2,44.626667,19.79,44.933333,18.926667,45.890000,17.166667,...,17.000000,45.50,6.366667,733.7,92.0,6.333333,55.333333,5.1,28.642668,28.642668
3,50,19.89,46.066667,19.2,44.590000,19.79,45.000000,18.890000,45.723333,17.166667,...,17.000000,45.40,6.250000,733.8,92.0,6.000000,51.500000,5.0,45.410389,45.410389
4,60,19.89,46.333333,19.2,44.530000,19.79,45.000000,18.890000,45.530000,17.200000,...,17.000000,45.40,6.133333,733.9,92.0,5.666667,47.666667,4.9,10.084097,10.084097

In [6]:
#it is important to normalise our datasetto a common scale
#this is done using the min max scaler

scaler = MinMaxScaler()
normalised_df = pd.DataFrame(scaler.fit_transform(df), columns = df.columns)

#confirming the normalisation
#reading the first five rows of the data using the head function

normalised_df.head()

,Appliances,T1,RH_1,T2,RH_2,T3,RH_3,T4,RH_4,T5,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,0.046729,0.32735,0.566187,0.225345,0.684038,0.215188,0.746066,0.351351,0.764262,0.175506,...,0.223032,0.677290,0.372990,0.097674,0.894737,0.500000,0.953846,0.538462,0.265449,0.265449
1,0.046729,0.32735,0.541326,0.225345,0.682140,0.215188,0.748871,0.351351,0.782437,0.175506,...,0.226500,0.678532,0.369239,0.100000,0.894737,0.476190,0.894872,0.533937,0.372083,0.372083
2,0.037383,0.32735,0.530502,0.225345,0.679445,0.215188,0.755569,0.344745,0.778062,0.175506,...,0.219563,0.676049,0.365488,0.102326,0.894737,0.452381,0.835897,0.529412,0.572848,0.572848
3,0.037383,0.32735,0.524080,0.225345,0.678414,0.215188,0.758685,0.341441,0.770949,0.175506,...,0.219563,0.671909,0.361736,0.104651,0.894737,0.428571,0.776923,0.524887,0.908261,0.908261
4,0.046729,0.32735,0.531419,0.225345,0.676727,0.215188,0.758685,0.341441,0.762697,0.178691,...,0.219563,0.671909,0.357985,0.106977,0.894737,0.404762,0.717949,0.520362,0.201611,0.201611

# Question 12

From the dataset, fit a linear model on the relationship between the temperature in the living room in Celsius (x = T2) and the temperature outside the building (y = T6).
What is the R^2 value in two D.P?

In [7]:
#splitting our dataset into training and testing dataset
# segementing the feature variable as 'X'
# segementing the target variable as 'Y'

x = normalised_df[['T2']]
y = normalised_df[['T6']]

#splitting the predictor which is X (T2) and the predicted which is y (T6), that is y, which is T6
#With the recommended test size of 30% (0.3) and a random state of 42 

x_train, x_test, y_train, y_test = train_test_split(x,y, test_size = 0.3, random_state = 42)

In [8]:
linear_model = LinearRegression()

#fitting the model to the training dataset

linear_model.fit(x_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [9]:
#to obtain my predictions:

predicted_values = linear_model.predict(x_test)

#Getting answer to the question by obtaining te r2 value
#print it out in 2 decimal places

r2_Value = r2_score(y_test, predicted_values)

#the values has to be in 2 decimal places
r2_Value = round(r2_Value,2)
print('The r2_value is {}'.format(round(r2_Value,2)))

The r2_value is 0.64

# Question 13

What is the Mean Absolute Error (in two decimal places)?

In [10]:
#I will first train my dataset in multi linear regression

x = normalised_df.drop('Appliances', 1)
y = normalised_df[['Appliances']]

x_train, x_test, y_train, y_test = train_test_split(x,y, test_size = 0.3, random_state = 42)

In [11]:
linear_model.fit(x_train, y_train)
multi_linear_predicted_values = linear_model.predict(x_test)

In [12]:
MAE = mean_absolute_error(y_test, multi_linear_predicted_values)
round(MAE,2)

0.05

# Question 14 

What is the Residual Sum of Squares (in two decimal places)?

In [13]:
RSS = np.sum(np.square(y_test-multi_linear_predicted_values))
round(RSS,2)

Appliances    45.35
dtype: float64

# Question 15

What is the Root Mean Squared Error (in three decimal places)?

In [14]:
RMSE = np.sqrt(mean_squared_error(y_test,multi_linear_predicted_values))
round(RMSE,3)

0.088

# Question 16

What is the Coefficient of Determination (in two decimal places)?

In [15]:
R2_Score = r2_score(y_test,multi_linear_predicted_values)
round(R2_Score,2)

0.15

# Question 17

Obtain the feature weights from your linear model above. 
Which features have the lowest and highest weights respectively?

In [16]:
#using the def function that will return weight of all the features

def get_weights_df_mod(model, feat, col_name):
    weights = pd.Series(model.coef_.tolist()[0], feat.columns.tolist()).sort_values()
    weights_df = pd.DataFrame(weights).reset_index()
    weights_df.columns = ['Features', col_name]
    weights_df[col_name].round(3)
    return weights_df

In [17]:
required_weights = get_weights_df_mod(linear_model, x_train, 'required weights')

In [18]:
lower_weight = required_weights['required weights'].min()
higher_weight = required_weights['required weights'].max()

In [19]:
required_weights[(required_weights['required weights'] == lower_weight) | (required_weights['required weights'] == higher_weight)]

   Features  required weights
0      RH_2         -0.456698
25     RH_1          0.553547

# Question 18

Train a ridge regression model with an alpha value of 0.4.
Is there any change to the root mean squared error (RMSE) when evaluated on the test set?

In [20]:
ridge_reg = Ridge(alpha = 0.4)
ridge_reg.fit(x_train, y_train)

Ridge(alpha=0.4, copy_X=True, fit_intercept=True, max_iter=None,
      normalize=False, random_state=None, solver='auto', tol=0.001)

In [21]:
predicted_ridge = ridge_reg.predict(x_test)
ridge_rsme = round(np.sqrt(mean_squared_error(y_test, predicted_ridge)), 3)
RMSE = round(RMSE,3)
ridge_rsme, RMSE

(0.088, 0.088)

# Question 20

What is the new RMSE with the Lasso Regression (in 3 decimal places

In [22]:
lasso_reg = Lasso(alpha = 0.001)
lasso_reg.fit(x_train, y_train)

Lasso(alpha=0.001, copy_X=True, fit_intercept=True, max_iter=1000,
      normalize=False, positive=False, precompute=False, random_state=None,
      selection='cyclic', tol=0.0001, warm_start=False)

In [23]:
predicted_lasso = lasso_reg.predict(x_test)
lasso_RSME = round(np.sqrt(mean_squared_error(y_test, predicted_lasso)), 3)
lasso_RSME

0.094

# Question 19

Train a lasso regression model with an alpha value of 0.001 and obtain the new feature weights with it.
How many of the features have non-zero feature weights?

In [25]:
#using the def function that will return weight of all the features

def get_weights_df(model, feat, col_name):
    weights = pd.Series(model.coef_, feat.columns).sort_values()
    weights_df = pd.DataFrame(weights).reset_index()
    weights_df.columns = ['Features', col_name]
    weights_df[col_name].round(3)
    return weights_df

In [26]:
lasso_reg_model_weight = get_weights_df(lasso_reg, x_train, 'Lasso Regression Model weight')
lasso_reg_model_weight[lasso_reg_model_weight['Lasso Regression Model weight'] != 0]

     Features  Lasso Regression Model weight
0      RH_out                      -0.049557
1        RH_8                      -0.000110
24  Windspeed                       0.002912
25       RH_1                       0.017880